<h1>Your Loans</h1>

<% if @loans.any? %>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Interest Rate</th>
        <th>Status</th>
        <th>Total Due</th>
      </tr>
    </thead>
    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.amount %></td>
          <td><%= loan.interest_rate %>%</td>
          <td><%= loan.status.capitalize %></td>
          <td><%= loan.total_amount_due %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't have any loan requests yet. <%= link_to 'Request a loan', new_loan_path %></p>
<% end %>
