<h1>Your Loans</h1>

<% if @loans.any? %>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Interest Rate</th>
        <th>Status</th>
        <th>Total Due</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.amount %></td>
          <td><%= loan.interest_rate %>%</td>
          <td><%= loan.status.capitalize %></td>
          <td><%= loan.total_amount_due %></td>
          <td>
            <% if loan.status == 'open' %>
              <%= link_to 'Repay', repay_loan_path(loan) %>
            <% end %>
            <% if loan.status == 'waiting_for_adjustment_acceptance' %>
              <%= link_to 'Accept Adjustment', accept_adjustment_loan_path(loan), method: :post %> | 
              <%= link_to 'Reject Adjustment', reject_adjustment_loan_path(loan), method: :post %> | 
              <%= link_to 'Request Readjustment', request_readjustment_loan_path(loan), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don’t have any loan requests yet. <%= link_to 'Request a loan', new_loan_path %></p>
<% end %>
