<h1>Request a Loan</h1>

<%= form_with model: @loan, url: loans_path, method: :post do |form| %>
  <% if @loan.errors.any? %>
    <div class="errors">
      <ul>
        <% @loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount, "Loan Amount" %>
    <%= form.number_field :amount, step: 100, min: 1000, required: true %>
  </div>

  <div class="field">
    <%= form.label :interest_rate, "Interest Rate (%)" %>
    <%= form.number_field :interest_rate, step: 0.1, min: 0.1, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Request Loan" %>
  </div>
<% end %>

<p><%= link_to 'Back to Loans', loans_path %></p>
