<h1>Request a Loan</h1>

<%= form_with(model: @loan, local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Request Loan' %>
  </div>
<% end %>
